@import "../../../assets/sass/variable.scss";
@import "../../../assets/sass/mixin.scss";
.tag {
  background: $color-primaire;
  color: $color-Secondaire;
  border-radius: 14px;
  padding: 9px 30px;
  font-size: 14px;
  column-gap: 13px;
  margin-left: -2px;
}

@include portable_smal {
  .tag {
    font-size: 12px;
    list-style: none;
  }

  .tag-container {
    max-width: 40%;
  }
}
