@import "../../../assets/sass/variable.scss";
@import "../../../assets/sass/mixin.scss";
.info {
  display: flex;
  flex-direction: column;
  margin-bottom: -27px;
  margin-top: -19px;
}

.info_titre_localitation,
.info_titre {
  font-size: 36px;
  color: $color-primaire;
  font-weight: 500;
}
.info_titre {
  margin-bottom: -18px;
}
.info_titre_localitation {
  font-size: 18px;
}

@include portable {
  .info {
    margin-left: 0;
  }
  .info_titre {
    margin-bottom: 4px;
  }
}

@include portable_smal {
  .info_titre_localitation,
  .info_titre {
    font-size: 18px;
  }
}