@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
@import "./mixin.scss";

body {
  margin: 0 auto;
  font-family: "Montserrat";
}

@include portable {
  body {
    margin: 0 auto;
    font-family: "Montserrat";
    max-width: 767px;
  }
}

@include portable_smal {
  body {
    margin: 0 auto;
  }
}
body {
  @include for_tablet {
    margin: 0 auto;
  }
}